*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.vs/
.vscode/
.vsconfig

# Build files
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db